a[href^="https://www.google.com"] {
    color: green;
}

a[target] {
    color: red;
}

#second-div p:nth-of-type(odd) {
    color: red;
}

#second-div p:nth-of-type(even) {
    color: blue;
}

#first-div > p::after {
    content: " - new";
    font-style: italic;
    color: yellow;
    text-transform: uppercase;

}

body > p:last-child:hover {
    font-style: italic;
}
